[defaults]
roles_path=./galaxy/roles
collections_path=./galaxy/collections
# make error-output readable
stdout_callback = ansible.builtin.default
result_format = yaml
[ssh_connection]
ssh_args = -o UserKnownHostsFile=known_hosts
pipelining = True
